Flask==3.0.1
Flask-Migrate==4.0.5
Flask-WTF==1.2.1
Flask-Login==0.6.3
psycopg2-binary==2.9.9
python-dotenv==1.0.1
gunicorn==21.2.0
gevent==23.9.1
csscompressor==0.9.5
rjsmin==1.2.2
email-validator==2.1.0.post1
requests==2.31.0