{% extends 'layout.html' %}

{% set context = {
'pageTitle': 'Admin'
} %}

{% block content %}
<div class="container">
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Book List</a>
      <form class="d-flex">
        <a href="{{ url_for('admin.create_book') }}" class="btn btn-success btn-sm">Create Book</a>
      </form>
    </div>
  </nav>
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Price</th>
        <th>Image URL</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for book in books %}
      <tr>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>${{ book.price }}</td>
        <td><img src="{{ book.image_url }}" width="32px" /></td>
        <td>
          <a href="{{ url_for('admin.edit_book', book_id=book.id) }}"
            class="btn btn-light btn-sm d-flex justify-content-between align-items-center"><span
              class="badge bg-warning rounded-pill"><i class="fa fa-pencil" aria-hidden="true"></i></span>Edit</a>
        </td>
        <td>
          <a href="{{ url_for('admin.delete_book', book_id=book.id) }}"
            class="btn btn-light btn-sm d-flex justify-content-between align-items-center"><span
              class="badge bg-danger rounded-pill"><i class="fa fa-remove" aria-hidden="true"></i></span>Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}