{% extends 'layout.html' %}

{% set context = {
'pageTitle': 'Shop'
} %}

{% block content %}
<div class="container">
  {% for book in books %} {% if loop.index % 4 == 1 %}
  <div class="row">
    {% endif %}
    <div class="col-md-3 col-sm-6">
      <div class="single-shop-product">
        <div class="product-upper">
          <img src="{{ book.image_url }}" alt="{{ book.title }}" width="195px" />
        </div>
        <h2><a href="#">{{ book.title }}</a></h2>
        <div class="product-carousel-price">
          <ins>${{ "%.2f"|format(book.price|float) }}</ins>
        </div>
        <div class="product-option-shop">
          <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="{{ book.id }}"
            rel="nofollow" href="#">Add to cart</a>
        </div>
      </div>
    </div>
    {% if loop.index % 4 == 0 or loop.last %}
  </div>
  {% endif %} {% endfor %}

  <div class="product-pagination text-center">
    <nav>
      <ul class="pagination">
        {% if current_page > 1 %}
        <li class="page-item">
          <a class="page-link" href="{{ url_for('shop.home', page=current_page-1) }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% endif %}
        {% for page_num in range(1, total_pages + 1) %}
        <li class="page-item {% if page_num == current_page %}active{% endif %}">
          <a class="page-link" href="{{ url_for('shop.home', page=page_num) }}">{{ page_num }}</a>
        </li>
        {% endfor %}
        {% if current_page < total_pages %} <li class="page-item">
          <a class="page-link" href="{{ url_for('shop.home', page=current_page+1) }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
          </li>
          {% endif %}
      </ul>
    </nav>
  </div>
</div>
{% endblock %}